@font-face{font-family:Face1;src:url(data:application/font-woff;charset=utf-8;base64,regularFont) format('woff');font-style:normal;font-weight:400;}
@font-face{font-family:Face1;src:url(data:application/font-woff;charset=utf-8;base64,boldFont) format('woff');font-style:normal;font-weight:500;}
@font-face{font-family:Face2;src:url(data:application/font-woff;charset=utf-8;base64,secondFace) format('woff');font-style:normal;font-weight:400;}
